<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<ul>
    <% @jobs.each do |job| %>
        <li>
            <strong> Job Name: <%= job.name  %> </strong><br>
            <strong> Technician: <%= job.technician %> </strong><br>
            <strong> Customer: <%= job.customer  %> </strong><br>
            <strong> Location: <%= job.location  %> </strong><br>
            <strong> Date: <%= job.date  %> </strong><br>
            <strong> Time: <%= job.time  %> </strong><br>
        </li>
    <% end %>
</ul>
